body {
  @extend %oswald-400;
  font-size: 32px;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1908px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  font-size: 18px;
  letter-spacing: .5px;
  text-transform: uppercase;
  border: 2px solid #000;
  padding: 12px 40px;
}

.title {
  @extend %oswald-500;
  font-size: 56px;
  line-height: 72px;
  text-transform: uppercase;
}

.text {
  @extend %roboto-400;
  font-size: 25px;
  line-height: 37px;
  letter-spacing: 0.25px;
}

.catalog-card {
  max-width: 344px;

  &--sale {
    position: relative;

    .main-catalog__list-price {
      color: #EB5757;
    }

    &::after {
      content: '30%';
      color: #FFF;
      @extend %oswald-400;
      font-size: 14px;
      padding: 5px 5px;
      line-height: normal;
      top: 15px;
      left: 0;
      background-color: #000;
      position: absolute;
    }
  }
}